<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header align-items-center">
            <a class="navbar-brand" href="/">
                <img src="/static/assets/img/brand/zgzl.png" class="navbar-brand-img"
                     alt="Argon Design - Jinja Template Logo."> 中工智联
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'index' %} active {% endif %}" href="/">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">数据看板</span>
                        </a>
                    </li>

                    {% if request.user.role == 'operator' or request.user.role == 'inspector'%}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'my_tasks' %} active {% endif %}"
                           href="{% url 'my_tasks' %}">
                            <i class="ni ni-single-02 text-pink"></i>
                            <span class="nav-link-text">我的生产</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user.role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'result_list' %} active {% endif %}"
                           href="{% url 'result_list' %}">
                            <i class="ni ni-calendar-grid-58 text-orange"></i>
                            <span class="nav-link-text">排产计划</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'order_list' %} active {% endif %}"
                           href="{% url 'order_list' %}">
                            <i class="ni ni-bullet-list-67 text-orange"></i>
                            <span class="nav-link-text">订单信息</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'product_list' %} active {% endif %}"
                           href="{% url 'product_list' %}">
                            <i class="ni ni-world-2 text-yellow"></i>
                            <span class="nav-link-text">产品信息</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'raw_list' %} active {% endif %}"
                           href="{% url 'raw_list' %}">
                            <i class="ni ni-basket text-green"></i>
                            <span class="nav-link-text">毛坯信息</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'device_list' %} active {% endif %}"
                           href="{% url 'device_list' %}">
                            <i class="ni ni-time-alarm text-red"></i>
                            <span class="nav-link-text">设备信息</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">用户管理</span>
                </h6>
                <!-- Navigation -->

                <ul class="navbar-nav mb-md-3">

                    {% if request.user.role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_list' %} active {% endif %}"
                           href="{% url 'user_list_list' %}">
                            <i class="ni ni-single-02 text-pink"></i>
                            <span class="nav-link-text">用户信息</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="ni ni-user-run text-red"></i>
                            <span class="nav-link-text">登出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>