<!-- device_list.html -->
{% extends 'layouts/base.html' %}

{% block title %}Device List{% endblock title %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">新增</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="mb-0">设备信息</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">设备名称</th>
                            <th scope="col">换型时间</th>
                            <th scope="col">当前毛坯</th>
                            <th scope="col">用户名</th> <!-- Added column -->
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% for device in devices %}
                        <tr>
                            <td>
                                <a href="#" class="edit-device" data-device-id="{{ device.id }}">
                                    {{ device.device_name }}
                                </a>
                            </td>
                            <td>{{ device.exchange_time }}</td>
                            <td>{{ device.current_raw }}</td>
                            <td>{{ device.user.username }}</td> <!-- Displaying the username -->
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item edit-device" href="#"
                                           data-device-id="{{ device.id }}">修改</a>
                                        <a class="dropdown-item delete-device" href="#"
                                           data-device-id="{{ device.id }}">删除</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Exchange Modal -->
<div class="modal fade" id="editExchangeModal" tabindex="-1" role="dialog" aria-labelledby="editExchangeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editExchangeModalLabel">设备信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editExchangeForm">
                    {% csrf_token %}
                    <input type="hidden" id="editExchangeId" name="exchange_id">
                    <div class="form-group">
                        <label for="editDeviceName">设备名称</label>
                        <input type="text" class="form-control" id="editDeviceName" name="device_name">
                    </div>
                    <div class="form-group">
                        <label for="editExchangeTime">换型时间</label>
                        <input type="text" class="form-control" id="editExchangeTime" name="exchange_time">
                    </div>
                    <div class="form-group">
                        <label for="editCurrentRaw">当前毛坯</label>
                        <input type="text" class="form-control" id="editCurrentRaw" name="current_raw">
                    </div>
                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // Handle edit device
        $('.edit-device').on('click', function () {
            var exchangeId = $(this).data('device-id');
            $('#loadingSpinner').show();
            $('#statusMessage').hide();

            $.ajax({
                url: '/exchanges/' + exchangeId + '/get/',
                type: 'GET',
                success: function (data) {
                    $('#editExchangeId').val(exchangeId);
                    $('#editDeviceName').val(data.device_name);
                    $('#editExchangeTime').val(data.exchange_time);
                    $('#editCurrentRaw').val(data.current_raw);
                    $('#editExchangeModal').modal('show');
                }
            });
        });

        $('#editExchangeForm').on('submit', function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $('#loadingSpinner').show();
            $('#statusMessage').hide();

            $.ajax({
                url: '/device/' + $('#editExchangeId').val() + '/update/',
                type: 'POST',
                data: formData,
                success: function () {
                    location.reload();
                },
                error: function () {
                    showStatusModal('Error updating device.');
                }
            });
        });

        // Handle delete device
        $('.delete-device').on('click', function () {
            var exchangeId = $(this).data('device-id');
            if (confirm('Are you sure you want to delete this device?')) {
                $('#loadingSpinner').show();
                $('#statusMessage').hide();

                $.ajax({
                    url: '/exchanges/' + exchangeId + '/delete/',
                    type: 'POST',
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        showStatusModal('Error deleting device.');
                    }
                });
            }
        });
    });
</script>
{% endblock javascripts %}