{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    /* Loading Modal Styles */
    .modal-body .spinner-border {
        width: 3rem;
        height: 3rem;
    }

    .modal-body p {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .progress-circle {
        position: relative;
        width: 100px;
        height: 100px;
    }

    .circle-background,
    .circle-progress {
        position: absolute;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        top: 0;
        left: 0;
    }

    .circle-background {
        background-color: #e9ecef; /* Background color of the circle */
        z-index: 1;
    }

    .circle-progress {
        background: conic-gradient(
            blue 0%,
            blue var(--progress),
            #e9ecef var(--progress),
            #e9ecef 100%
        );
        z-index: 2;
        clip-path: circle(50% at 50% 50%);
    }

    .car-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: auto;
        z-index: 3;
    }

    .progress-bar-container {
    margin-bottom: 20px; /* Space between progress bars */
}

.progress-bar-wrapper {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Space out items */
}

.car-icon {
    width: 100px; /* Adjust icon size */
    height: 100px; /* Adjust icon size */
    background: white; /* White background */
    border-radius: 50%; /* Make background circular */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Space between icon and progress bar */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better visibility */
}

.car-icon img {
    width: 80px; /* Adjust icon size inside the circle */
    height: 80px; /* Adjust icon size inside the circle */
}

.progress-bar {
    width: 80%;
    height: 30px;
    background-color: #e9ecef;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    flex: 1; /* Allow progress bar to take available space */
}

.progress-bar-fill {
    height: 100%;
    background-color: #007bff;
    width: 0; /* Set the width dynamically */
    transition: width 0.5s ease-in-out;
}

.progress-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.btn-start {
    margin-left: 10px; /* Space between progress bar and button */
}
</style>


{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="row">
                    <div class="col-xl-12" style="margin-left: 20px">
                        <form id="uploadForm" action="{% url 'upload' %}" method="post" enctype="multipart/form-data"
                              style="display: none;">
                            {% csrf_token %}
                            <input type="file" id="fileInput" name="file" accept=".xlsx,.xls,.csv">
                            <input type="hidden" id="fileTypeInput" name="file_type">
                        </form>
                        <a href="#" class="btn btn-sm btn-neutral" id="uploadButton_Orders" data-file-type="orders" style="margin-top:5px">
                            <i class="fas fa-upload"></i> 订单表
                        </a>
                        <a href="#" class="btn btn-sm btn-neutral" id="uploadButton_Raw" data-file-type="raw" style="margin-top:5px">
                            <i class="fas fa-upload"></i> 毛坯表
                        </a>
                        <a href="#" class="btn btn-sm btn-neutral" id="uploadButton_Process" data-file-type="process" style="margin-top:5px">
                            <i class="fas fa-upload"></i> 工序表
                        </a>
                        <a href="#" class="btn btn-sm btn-neutral" id="uploadButton_Product" data-file-type="product" style="margin-top:5px">
                            <i class="fas fa-upload"></i> 产品表
                        </a>
                        <a href="#" class="btn btn-sm btn-neutral" id="uploadButton_Exchange" data-file-type="exchange" style="margin-top:5px">
                            <i class="fas fa-upload"></i> 设备表
                        </a>
                    </div>
                </div>

                <!-- Status Modal -->
                <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="statusModalLabel">Processing...</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <p id="statusModalText">Processing...</p>
                            </div>
                            <div class="modal-footer" style="display: none;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">订单数量</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ orders_count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">产品数量</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ products_count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                        <i class="ni ni-chart-pie-35"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">毛坯数量</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ raw_count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                        <i class="ni ni-money-coins"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">设备数量</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ exchange_count }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                        <i class="ni ni-chart-bar-32"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            <div class="card bg-default">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">生产情况</h6>
                            <h5 class="h3 text-white mb-0">已生产重量：{{ weight }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="progress-bar-container">
                        <div class="progress-bar-wrapper">
                            <div class="car-icon">
                                <img src="{% static 'assets/img/car.svg' %}" alt="Car Icon">
                            </div>
                            <div class="progress-bar" id="progress-bar-1">
                                <div class="progress-bar-fill" id="fill-1"></div>
                                <div class="progress-bar-text" id="text-1">0%</div>
                            </div>
                            <button class="btn btn-primary btn-start" id="start-1">发车</button>
                        </div>
                    </div>
                    <div class="progress-bar-container">
                        <div class="progress-bar-wrapper">
                            <div class="car-icon">
                                <img src="{% static 'assets/img/car.svg' %}" alt="Car Icon">
                            </div>
                            <div class="progress-bar" id="progress-bar-2">
                                <div class="progress-bar-fill" id="fill-2"></div>
                                <div class="progress-bar-text" id="text-2">0%</div>
                            </div>
                            <button class="btn btn-primary btn-start" id="start-2">发车</button>
                        </div>
                    </div>
                    <div class="progress-bar-container">
                        <div class="progress-bar-wrapper">
                            <div class="car-icon">
                                <img src="{% static 'assets/img/car.svg' %}" alt="Car Icon">
                            </div>
                            <div class="progress-bar" id="progress-bar-3">
                                <div class="progress-bar-fill" id="fill-3"></div>
                                <div class="progress-bar-text" id="text-3">0%</div>
                            </div>
                            <button class="btn btn-primary btn-start" id="start-3">发车</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">订单信息</h6>
                            <h5 class="h3 mb-0">订单日期统计</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="chart-bars" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">设备详情</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">查看全部</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">设备名称</th>
                            <th scope="col">月生产数</th>
                            <th scope="col">周生产数</th>
                            <th scope="col">负载情况</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                国盛
                            </th>
                            <td>
                                4,569
                            </td>
                            <td>
                                340
                            </td>
                            <td>
                                <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                新浙
                            </th>
                            <td>
                                3,985
                            </td>
                            <td>
                                319
                            </td>
                            <td>
                                <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                摇臂#1
                            </th>
                            <td>
                                3,513
                            </td>
                            <td>
                                294
                            </td>
                            <td>
                                <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                摇臂#2
                            </th>
                            <td>
                                2,050
                            </td>
                            <td>
                                147
                            </td>
                            <td>
                                <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                摇臂#3
                            </th>
                            <td>
                                1,795
                            </td>
                            <td>
                                190
                            </td>
                            <td>
                                <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">人员管理</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary"> 查看全部</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">操作员</th>
                            <th scope="col">生产数量</th>
                            <th scope="col">完成进度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                王工
                            </th>
                            <td>
                                1,480
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">60%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-danger" role="progressbar"
                                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                李工
                            </th>
                            <td>
                                5,480
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">70%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-success" role="progressbar"
                                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 70%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                张工
                            </th>
                            <td>
                                4,807
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">80%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-primary" role="progressbar"
                                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 80%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                赵工
                            </th>
                            <td>
                                3,678
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">75%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-info" role="progressbar"
                                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 75%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                孙工
                            </th>
                            <td>
                                2,645
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">30%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-warning" role="progressbar"
                                                 aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 30%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

<script>
    $(document).ready(function () {
        function setupUploadButton(buttonId) {
            $(`#${buttonId}`).on('click', function () {
                const fileType = $(this).data('file-type');
                $('#fileTypeInput').val(fileType);
                $('#fileInput').click();
            });
        }

        $('#fileInput').on('change', function () {
            var formData = new FormData($('#uploadForm')[0]);

            $('#statusModalLabel').text('上传');
            $('#statusModalText').text('文件正在处理中...');
            $('.modal-footer').hide();
            $('#statusModal').modal('show'); // 显示加载动画

            $.ajax({
                url: $('#uploadForm').attr('action'),
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#statusModalLabel').text('成功！');
                    $('#statusModalText').text('文件上传成功！');
                    $('.modal-footer').show();
                    setTimeout(function() {
                        window.location.reload(); // 成功后刷新页面
                    }, 2000); // 延迟2秒后刷新
                },
                error: function (response) {
                    $('#statusModalLabel').text('错误！');
                    $('#statusModalText').text('文件上传失败！');
                    $('.modal-footer').show();
                    setTimeout(function() {
                        window.location.reload(); // 成功后刷新页面
                    }, 2000); // 延迟2秒后刷新
                }
            });
        });

        setupUploadButton('uploadButton_Orders');
        setupUploadButton('uploadButton_Raw');
        setupUploadButton('uploadButton_Process');
        setupUploadButton('uploadButton_Product');
        setupUploadButton('uploadButton_Exchange');
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var weight = {{ weight }}; // Use Django template variable for weight
        var maxWeight = 13.5; // Maximum value for each segment

        var progressBars = document.querySelectorAll('.progress-bar-fill');
        var progressTexts = document.querySelectorAll('.progress-bar-text');

        // Calculate progress for each bar
        var progressValues = [
            Math.min(weight, maxWeight) / maxWeight,
            Math.max(0, Math.min(weight - maxWeight, maxWeight)) / maxWeight,
            Math.max(0, Math.min(weight - 2 * maxWeight, maxWeight)) / maxWeight
        ];

        // Update each progress bar and its text
        progressBars.forEach(function(bar, index) {
            var percentage = progressValues[index] * 100;
            bar.style.width = percentage + '%';
            progressTexts[index].textContent = `${Math.round(percentage)}%`;
        });
    });
</script>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ctx = document.getElementById('chart-bars').getContext('2d');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ start_dates|safe }}, // 使用 Django 模板标签传递数据
                datasets: [{
                    label: '开始日期数量',
                    data: {{ start_date_counts|safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }, {
                    label: '交付日期数量',
                    data: {{ end_date_counts|safe }},
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '日期'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: '数量'
                        }
                    }
                }
            }
        });
    });
</script>
{% endblock javascripts %}


