{% extends 'layouts/base.html' %}

{% block title %} Orders {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">新建</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">订单表</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>订单开始日期</th>
                                <th>订单结束日期</th>
                                <th>产品编码</th>
                                <th>待处理数量</th>
                                <th>已完成数量</th>
                                <th>是否完成</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in order_products %}
                            <tr>
                                <td>{{ product.order.order_code }}</td>
                                <td>{{ product.order.order_start_date }}</td>
                                <td>{{ product.order.order_end_date }}</td>
                                <td>{{ product.product_code }}</td>
                                <td>{{ product.product_num_todo }}</td>
                                <td>{{ product.product_num_done }}</td>
                                <td>{% if product.is_done %} 是 {% else %} 否 {% endif %}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7">没有订单产品记录</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<!-- 在这里加入你需要的特定JS -->
{% endblock javascripts %}