{% extends 'layouts/base.html' %}

{% block title %}工序列表{% endblock title %}

{% block content %}
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="mb-0">工序表</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <!-- 表格头部 -->
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">工序编号</th>
                            <th scope="col">工序名称</th>
                            <th scope="col">容量</th>
                            <th scope="col">持续时间</th>
                            <th scope="col">产品编码</th>
                            <th scope="col">设备名称</th>
                            <th scope="col">是否外包</th>
                            <th scope="col">是否最后工序</th>
                        </tr>
                        </thead>
                        <!-- 表格内容 -->
                        <tbody>
                        {% for process in processes %}
                        <tr>
                            <td>{{ process.process_i }}</td>
                            <td>{{ process.process_name }}</td>
                            <td>{{ process.process_capacity }}</td>
                            <td>{{ process.process_duration }}</td>
                            <td>{{ process.product_code }}</td>
                            <td>{{ process.device_name }}</td>
                            <td>{{ process.is_outside|yesno:"是,否" }}</td>
                            <td>{{ process.is_last_process|yesno:"是,否" }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">首页</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a>
                            </li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if num > page_obj.start_index|add:'-3' and num < page_obj.end_index|add:'3' %}
                                    {% if num == page_obj.number %}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">末页</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}